/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { 
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body { 
	background-color: #EEE; 
	font-size: 1em; 
	line-height: 1.4; 
	width: 350px;
	margin: 50px auto;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { text-shadow: none; }
::selection { text-shadow: none; }

/* =============================================================================
   Layout
   ========================================================================== */

/* =============================================================================
   Links
   ========================================================================== */

/* =============================================================================
   Typography
   ========================================================================== */
h1{
	color: #527bde;
	font: bold 1.2em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom:1px solid #CCC;
}

#data-link, #form-link{
	font-size: 13px;
	color: #666;
}


hr{
	border-color: #CCC;
	margin: 10px 0 10px;
}

/* =============================================================================
   Lists
   ========================================================================== */

/* =============================================================================
   Embedded content (Images, Movies, Figures)
   ========================================================================== */

/* =============================================================================
   Forms
   ========================================================================== */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	background: #518dff; /* Old browsers */
	background: #518dff -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #518dff -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #518dff -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #518dff -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #518dff -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #518dff linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #3762c8;
  border-top: 1px solid #6793f8;
  border-left: 1px solid #6793f8;
  color: #FFF;
  text-shadow: 0 1px rgba(0, 0, 0, .3); 
  font-size: 13px; 
  margin-bottom: 0px; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #edf2ff;
	background: #3576f6; /* Old browsers */
	background: #3576f6 -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
	background: #3576f6 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
	background: #3576f6 -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
	background: #3576f6 -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
	background: #3576f6 -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
	background: #3576f6 linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
  border: 1px solid #3762c8;
  border-top: 1px solid #527bde;
  border-left: 1px solid #527bde; }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	border: 1px solid #666;
	background: #ccc; /* Old browsers */
	background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
	background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
	background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
	background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
	background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
	background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ 
	color: #FFF;}

.error{
	background: #d54c31; /* Old browsers */
	background: #d54c31 -moz-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* FF3.6+ */
	background: #d54c31 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.15)), color-stop(10%,rgba(255,255,255,0)), color-stop(100%,rgba(10,10,10,.15))); /* Chrome,Safari4+ */
	background: #d54c31 -webkit-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* Chrome10+,Safari5.1+ */
	background: #d54c31 -o-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* Opera11.10+ */
	background: #d54c31 -ms-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* IE10+ */
	background: #d54c31 linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* W3C */
	color: #FFF;
	padding: 5px 9px;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom: 1px solid #ad4120;
	border-right: 1px solid #ad4120; }

label.error{
	background: #d54c31 -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%);/* FF3.6+ */
	background: #d54c31 -webkit-gradient(linear, left top, left bottom, color-stop(75%,rgba(255,255,255,0)), color-stop(100%,rgba(10,10,10,.15))); /* Chrome,Safari4+ */
	background: #d54c31 -webkit-linear-gradient(bottom, rgba(10,10,10,0) 75%,rgba(10,10,10,.15) 100%); /* Chrome10+,Safari5.1+ */
	background: #d54c31 -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
	background: #d54c31 -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
	background: #d54c31 linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ 
	padding: 5px 9px;
	margin: -21px 4px 20px;
	border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;}

ul.error{
	list-style-type: disc;
}

ul.error li{
	margin: 0 0 0 25px;
}

.success{
	background: #24d080; /* Old browsers */
	background: #24d080 -moz-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* FF3.6+ */
	background: #24d080 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.15)), color-stop(10%,rgba(255,255,255,0)), color-stop(100%,rgba(10,10,10,.15))); /* Chrome,Safari4+ */
	background: #24d080 -webkit-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* Chrome10+,Safari5.1+ */
	background: #24d080 -o-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* Opera11.10+ */
	background: #24d080 -ms-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* IE10+ */
	background: #24d080 linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* W3C */
	color: #FFF;
	padding: 5px 9px;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom: 1px solid #14aa72;
	border-right: 1px solid #14aa72; }
	
.info{
	background: #666; /* Old browsers */
	background: #666 -moz-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* FF3.6+ */
	background: #666 -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.15)), color-stop(10%,rgba(255,255,255,0)), color-stop(100%,rgba(10,10,10,.15))); /* Chrome,Safari4+ */
	background: #666 -webkit-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* Chrome10+,Safari5.1+ */
	background: #666 -o-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* Opera11.10+ */
	background: #666 -ms-linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* IE10+ */
	background: #666 linear-gradient(top, rgba(255,255,255,.15) 0%,rgba(255,255,255,0) 10%,rgba(10,10,10,.15) 100%); /* W3C */
	color: #FFF;
	padding: 5px 9px;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-bottom: 1px solid #444;
	border-right: 1px solid #444; }
	
	


/* =============================================================================
   Tables
   ========================================================================== */
table{
	font-size: 12px;
	width:100%;
}

th {
	background: #518dff; /* Old browsers */
	background: #518dff -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #518dff -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #518dff -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #518dff -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #518dff -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #518dff linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
  border: 1px solid #3762c8;
  border-top: 1px solid #6793f8;
  border-left: 1px solid #6793f8;
  color: #FFF;
  text-shadow: 0 1px rgba(0, 0, 0, .3); 
  font-size: 13px; 
  padding: 5px }

td {
	padding: 5px;
}	
tr {
	border-bottom:1px solid #CCC;
}

/* =============================================================================
   Media Query
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Print styles.
   ========================================================================== */

@media print { }
