

img {
	border:5px solid #fff;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.profile img{
	width:90px;
	float: left;
	margin-top: 20px;
}
img.blank{
	border-width:0;
	-webkit-box-shadow: 0 0 0 #000;
	-moz-box-shadow: 0 0 0 #000;
	box-shadow: 0 0 0 #000;
}

.profile img.blank{
	width:100px;
}
.profile{
	clear:both;
}
.profile-content{
	float:left;
	min-height: 130px;
	width: 575px;

	margin: 20px 0 0 25px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.profile .contact-info{
    display: inline-block;
	
    margin: 0 30px 0 0;
}

.contact-info h6{
    display: inline-block;
    margin: 0 3px 0 0;
}

a.phone{
	text-decoration:none;
	color:#000;
}

small{
    font-size: .9em;
}

small.update{
    font-style: italic;
    color: #999;
	display: block;
}

.expand-profile {
	margin-top: 9px;
}

label.error{
	color: #b94a48;
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.sidebar hr {
	margin: 5px 0;
}

hr {
	clear: both;
	margin: 5px 0;
}

.sidebar #filter-search {
	margin: 0;
	width: 112px;
}

.sidebar h4 {
	margin-bottom: 6px;
}

label{
	margin: 1px 0;
}

#num-results{
	float:right;
	background-color:#c09853;
}

#num-results:hover {
	cursor:inherit;
	color: #ffffff;
	text-decoration: none;
	background-color:#c09853;
}

.hidden {
	display:none;
}

form {
	margin:0;
}

textarea.tall{
	height: 96px;
}	
textarea.xtall{
	height: 196px;
}

#message[class*="span"]{
	margin-left:0;
}
.profile h4{
	margin-bottom:4px;
}

#interests {
	margin: 2px 0 10px 0;
	border: 1px solid #ccc;
	padding: 4px 6px;
	display:block;
	width:100%;
	height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.inline {
	display: inline-block;
	padding-right: 5px;
}

.expand-profile.btn{
    display: block;
    width: 42px;
}

#now-showing {
	margin-bottom: -4px;
	margin-top: -20px;
	-webkit-top-left-border-radius: 0;
	-webkit-top-right-border-radius: 0;
	-moz-top-left-border-radius: 0;
	-moz-top-right-border-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#view-option {
	padding: 8px 12px;
	-webkit-bottom-left-border-radius: 0;
	-webkit-bottom-right-border-radius: 0;
	-moz-bottom-left-border-radius: 0;
	-moz-bottom-right-border-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
form#view{
	float:right;
}
form#page{
	float:left;
}

#view-option select{
	height: 20px;
}
#sort-by{
	width: 145px;
}
#view-option label{
	color: #999;
	padding-left: 9px;
	border-left: 1px solid #ccc;
	margin-left: 6px;
}
#view-option label.first{
	padding-left: 0;
	border-left-width: 0;
	margin-left: 0;
}

#link img{
	opacity: 0.55;
}
#link {
	height: 20px;
	width: 17px;
	padding: 0 6px;
	margin-left: 5px;
}

.pagination ul {
margin-top: -1px;

}

#footer{
	height: 50px;
	clear:both;
}

.btn {
	margin-right: 5px;
}
#btm-clear{
	padding-left: 15px;
	padding-right: 15px;
}
#advanced-search .checkbox{
	width: 270px;
	float: left;
	padding-right: 25px;
	cursor: pointer;
}
#advanced-search h5{
	padding-top:15px;
	clear: both;
}
